@import '../../variables';

.button {
    padding: 10px 20px;

    font-style: normal;
    font-weight: $fw-button;
    font-size: 11px;
    line-height: 1.36;
    color: $fc-light;

    background-color: $bgc-button;
    border: $border-button;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;

    &:hover {
        background-color: lighten($bgc-button, 15%);
    }

    &:disabled {
        background-color: lighten($bgc-button, 50%);
        cursor: default;
    }
}
