@import '../../variables';

.comment {
    padding-bottom: 10px;

    &:not(&:last-child) {
        border-bottom: $border-card;
    }
}

.comment-title {
    margin-bottom: 10px;

    font-weight: $fw-subtitle;
    font-size: 17px;
    line-height: 1.35;
    text-transform: capitalize;
    color: $fc-dark;
}

.comment-body {
    font-style: normal;
    font-weight: $fw-regular;
    font-size: 12px;
    line-height: 1.42;
    color: $fc-dark;
}
