$ff-main: 'Open Sans', 'Arial', sans-serif;
$ff-title: 'Alegreya Sans SC', 'Arial', sans-serif;

$fc-dark: #000000;
$fc-light: #ffffff;
$fc-grey: #969696;

$fw-title: 500;
$fw-subtitle: 700;
$fw-regular: 400;
$fw-button: 600;

$bgc-light: #ffffff;
$bgc-button: #101010;

$border-button: 1px solid #0d1e4b;
$border-input: 1px solid #0d1e4b;
$border-incorrect: 1px solid red;
$border-card: 1px solid #dadada;
$border-card-hover: 1px solid #000000;
$border-table: 1px solid #000000;
