$ff-main: 'Open Sans', 'Arial', sans-serif;

$fc-dark: #000000;
$fc-light: #ffffff;

$fw-title: 700;
$fw-regular: 400;
$fw-button: 600;

$bgc-light: #ffffff;
$bgc-button: #101010;

$border-button: 1px solid #0d1e4b;
