@import '../../variables';

.userVerbose {
    width: 640px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.userVerbose-title {
    margin-bottom: 6px;

    font-family: $ff-title;
    font-weight: $fw-title;
    font-style: normal;
    font-size: 35px;
    line-height: 1;
    color: $fc-dark;
}

.userVerbose-table {
    width: 100%;
    border-collapse: collapse;

    font-style: normal;
    font-weight: $fw-regular;
    font-size: 18px;
    line-height: 0.94;
    color: $fc-dark;
}

.userVerbose-cell {
    padding: 10px;
    border: $border-table;

    &:last-child {
        word-break: break-word;
    }

    & a {
        color: inherit;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        &:hover {
            color: lighten($fc-dark, 75%);
        }
    }
}
